body {
  background-color:darkgray;
}
.info {
  text-align:center;
  word-wrap: inherit;  
}
.form-box {
  float:left;
  font-family: fantasy;
  text-align:center;
  margin-top: 1em;
  margin: 2em;
  background-color: lightgray;
  width: 20%;
  height:400px;
  opacity: 65%;
}

#username {
  margin-bottom: 2em;  
}

#password {
  margin-bottom: 2em;
}

.login {
  margin-right: 3em;
}

.companyName {
  float: right;
  margin-right: 10em;
  margin-top: 2em;
  letter-spacing: 2px;
}
#title {
  font-family:fantasy;
  font-size: 48px;
}
#description {
  font-family: fantasy;
  font-size: 24px;
}